<h2 mat-dialog-title>Ajouter un employé</h2>
<br/>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="data.data.name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>matricule</mat-label>
    <input matInput [(ngModel)]="data.data.matricule">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions >
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="Add()">Ajouter</button>
</mat-dialog-actions>