<h2 mat-dialog-title>Ajouter un employé</h2>
<br/>
<mat-dialog-content>
  <!-- Champ Nom -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="data.data.name">
  </mat-form-field>

  <!-- Champ Prénom -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Prénom</mat-label>
    <input matInput [(ngModel)]="data.data.prenom">
  </mat-form-field>

  <!-- Sélection de la Fonction -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Fonction</mat-label>
    <mat-select [(ngModel)]="data.data.fonctionId">
      <mat-option *ngFor="let fonction of data.fonctions" [value]="fonction.id">
        {{ fonction.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Sélection de l'Affectation -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Affectation</mat-label>
    <mat-select [(ngModel)]="data.data.affectationId">
      <mat-option *ngFor="let affectation of data.affectations" [value]="affectation.id">
        {{ affectation.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="Add()">Ajouter</button>
</mat-dialog-actions>
