<mat-dialog-content>
  <h3>Éditer le congé</h3>
<br/>
  <mat-form-field appearance="outline"style="width: 90%;">
    <mat-label>Raison</mat-label>
    <input matInput [(ngModel)]="data.data.reason" placeholder="Entrez le nom">
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 90%;">
    <mat-label>Date de début</mat-label>
    <input matInput [(ngModel)]="data.data.startDate"
          [matDatepicker]="pickerDebut"
          required
          #retour="ngModel"
          readonly />
    <mat-datepicker-toggle matIconSuffix [for]="pickerDebut"></mat-datepicker-toggle>
    <mat-datepicker #pickerDebut></mat-datepicker>
    <mat-error *ngIf="retour.invalid && retour.touched">La date de début est requise.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 90%;">
    <mat-label>Date de fin</mat-label>
    <input matInput [(ngModel)]="data.data.endDate"
          [matDatepicker]="pickerFin"
          required
          #retour="ngModel"
          readonly />
    <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
    <mat-datepicker #pickerFin></mat-datepicker>
    <mat-error *ngIf="retour.invalid && retour.touched">La date de fin est requise.</mat-error>
  </mat-form-field>
  <div *ngIf="!isDateRangeValid()" class="text-danger" style="color: red;">
    La date de début doit être antérieure ou égale à la date de fin.
  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCancel()">Annuler</button>
    <button mat-raised-button color="primary" [disabled]="!isStepValid()"  (click)="save()">Enregistrer</button>
  </mat-dialog-actions>
</mat-dialog-content>