<div class="app-topstrip bg-dark text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between">
    <h2 class="f-s-18 m-y-8 text-lg-left text-center">Gestion des missions</h2>

    <div class="d-flex align-items-center justify-content-center flex-wrap">
        <!-- A propos de nous -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://cadetaf.com" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="briefcase" class="icon-20 d-flex"></i-tabler>
                A propos de nous
            </div>
        </a>
    </div>
</div>