USE [master]
GO
/****** Object:  Database [OrdresMission]    Script Date: 08/05/2025 22:17:43 ******/
CREATE DATABASE [OrdresMission]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrdresMission', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrdresMission.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrdresMission_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrdresMission_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrdresMission].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrdresMission]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[affectations]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[affectations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_affectations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conges]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](50) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedById] [int] NOT NULL,
	[UpdatedById] [int] NOT NULL,
 CONSTRAINT [PK_conges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FonctionId] [int] NULL,
	[AffectationId] [int] NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fonctions]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fonctions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_fonctions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[missions]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[missions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Raison] [nvarchar](500) NOT NULL,
	[VilleDepart] [nvarchar](100) NOT NULL,
	[VilleArrive] [nvarchar](100) NOT NULL,
	[Distance] [float] NULL,
	[DateDebut] [datetime2](7) NOT NULL,
	[DateFin] [datetime2](7) NOT NULL,
	[EmployerId] [int] NOT NULL,
	[VehiculeId] [int] NULL,
	[StatutId] [int] NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_missions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MissionId] [int] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[UpdatedById] [int] NOT NULL,
 CONSTRAINT [PK_payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuts]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_statuts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teams]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MissionId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedById] [int] NOT NULL,
	[UpdatedById] [int] NOT NULL,
 CONSTRAINT [PK_teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicules]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LicensePlateNumber] [nvarchar](50) NOT NULL,
	[Horsepower] [int] NOT NULL,
	[Actif] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_vehicules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_affectations_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_affectations_CreatedById] ON [dbo].[affectations]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_affectations_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_affectations_UpdatedById] ON [dbo].[affectations]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_conges_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_conges_CreatedById] ON [dbo].[conges]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_conges_EmployeeId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_conges_EmployeeId] ON [dbo].[conges]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_conges_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_conges_UpdatedById] ON [dbo].[conges]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_employees_AffectationId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_employees_AffectationId] ON [dbo].[employees]
(
	[AffectationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_employees_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_employees_CreatedById] ON [dbo].[employees]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_employees_FonctionId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_employees_FonctionId] ON [dbo].[employees]
(
	[FonctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_employees_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_employees_UpdatedById] ON [dbo].[employees]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fonctions_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_fonctions_CreatedById] ON [dbo].[fonctions]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fonctions_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_fonctions_UpdatedById] ON [dbo].[fonctions]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_missions_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_missions_CreatedById] ON [dbo].[missions]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_missions_EmployerId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_missions_EmployerId] ON [dbo].[missions]
(
	[EmployerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_missions_StatutId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_missions_StatutId] ON [dbo].[missions]
(
	[StatutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_missions_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_missions_UpdatedById] ON [dbo].[missions]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_missions_VehiculeId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_missions_VehiculeId] ON [dbo].[missions]
(
	[VehiculeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_payments_CreatedById] ON [dbo].[payments]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_MissionId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_payments_MissionId] ON [dbo].[payments]
(
	[MissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_payments_UpdatedById] ON [dbo].[payments]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_teams_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_teams_CreatedById] ON [dbo].[teams]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_teams_EmployeeId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_teams_EmployeeId] ON [dbo].[teams]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_teams_MissionId]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_teams_MissionId] ON [dbo].[teams]
(
	[MissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_teams_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_teams_UpdatedById] ON [dbo].[teams]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vehicules_CreatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_vehicules_CreatedById] ON [dbo].[vehicules]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vehicules_UpdatedById]    Script Date: 08/05/2025 22:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_vehicules_UpdatedById] ON [dbo].[vehicules]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[affectations]  WITH CHECK ADD  CONSTRAINT [FK_affectations_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[affectations] CHECK CONSTRAINT [FK_affectations_users_CreatedById]
GO
ALTER TABLE [dbo].[affectations]  WITH CHECK ADD  CONSTRAINT [FK_affectations_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[affectations] CHECK CONSTRAINT [FK_affectations_users_UpdatedById]
GO
ALTER TABLE [dbo].[conges]  WITH CHECK ADD  CONSTRAINT [FK_conges_employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conges] CHECK CONSTRAINT [FK_conges_employees_EmployeeId]
GO
ALTER TABLE [dbo].[conges]  WITH CHECK ADD  CONSTRAINT [FK_conges_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[conges] CHECK CONSTRAINT [FK_conges_users_CreatedById]
GO
ALTER TABLE [dbo].[conges]  WITH CHECK ADD  CONSTRAINT [FK_conges_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[conges] CHECK CONSTRAINT [FK_conges_users_UpdatedById]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_affectations_AffectationId] FOREIGN KEY([AffectationId])
REFERENCES [dbo].[affectations] ([Id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_affectations_AffectationId]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_fonctions_FonctionId] FOREIGN KEY([FonctionId])
REFERENCES [dbo].[fonctions] ([Id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_fonctions_FonctionId]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_users_CreatedById]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_users_UpdatedById]
GO
ALTER TABLE [dbo].[fonctions]  WITH CHECK ADD  CONSTRAINT [FK_fonctions_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[fonctions] CHECK CONSTRAINT [FK_fonctions_users_CreatedById]
GO
ALTER TABLE [dbo].[fonctions]  WITH CHECK ADD  CONSTRAINT [FK_fonctions_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[fonctions] CHECK CONSTRAINT [FK_fonctions_users_UpdatedById]
GO
ALTER TABLE [dbo].[missions]  WITH CHECK ADD  CONSTRAINT [FK_missions_employees_EmployerId] FOREIGN KEY([EmployerId])
REFERENCES [dbo].[employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[missions] CHECK CONSTRAINT [FK_missions_employees_EmployerId]
GO
ALTER TABLE [dbo].[missions]  WITH CHECK ADD  CONSTRAINT [FK_missions_statuts_StatutId] FOREIGN KEY([StatutId])
REFERENCES [dbo].[statuts] ([Id])
GO
ALTER TABLE [dbo].[missions] CHECK CONSTRAINT [FK_missions_statuts_StatutId]
GO
ALTER TABLE [dbo].[missions]  WITH CHECK ADD  CONSTRAINT [FK_missions_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[missions] CHECK CONSTRAINT [FK_missions_users_CreatedById]
GO
ALTER TABLE [dbo].[missions]  WITH CHECK ADD  CONSTRAINT [FK_missions_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[missions] CHECK CONSTRAINT [FK_missions_users_UpdatedById]
GO
ALTER TABLE [dbo].[missions]  WITH CHECK ADD  CONSTRAINT [FK_missions_vehicules_VehiculeId] FOREIGN KEY([VehiculeId])
REFERENCES [dbo].[vehicules] ([Id])
GO
ALTER TABLE [dbo].[missions] CHECK CONSTRAINT [FK_missions_vehicules_VehiculeId]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_missions_MissionId] FOREIGN KEY([MissionId])
REFERENCES [dbo].[missions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_missions_MissionId]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_users_CreatedById]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_users_UpdatedById]
GO
ALTER TABLE [dbo].[teams]  WITH CHECK ADD  CONSTRAINT [FK_teams_employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[employees] ([Id])
GO
ALTER TABLE [dbo].[teams] CHECK CONSTRAINT [FK_teams_employees_EmployeeId]
GO
ALTER TABLE [dbo].[teams]  WITH CHECK ADD  CONSTRAINT [FK_teams_missions_MissionId] FOREIGN KEY([MissionId])
REFERENCES [dbo].[missions] ([Id])
GO
ALTER TABLE [dbo].[teams] CHECK CONSTRAINT [FK_teams_missions_MissionId]
GO
ALTER TABLE [dbo].[teams]  WITH CHECK ADD  CONSTRAINT [FK_teams_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[teams] CHECK CONSTRAINT [FK_teams_users_CreatedById]
GO
ALTER TABLE [dbo].[teams]  WITH CHECK ADD  CONSTRAINT [FK_teams_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[teams] CHECK CONSTRAINT [FK_teams_users_UpdatedById]
GO
ALTER TABLE [dbo].[vehicules]  WITH CHECK ADD  CONSTRAINT [FK_vehicules_users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[vehicules] CHECK CONSTRAINT [FK_vehicules_users_CreatedById]
GO
ALTER TABLE [dbo].[vehicules]  WITH CHECK ADD  CONSTRAINT [FK_vehicules_users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[vehicules] CHECK CONSTRAINT [FK_vehicules_users_UpdatedById]
GO
/****** Object:  StoredProcedure [dbo].[GetOrdreMissionDetails]    Script Date: 08/05/2025 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
===============================================================================
 Nom           : GetOrdreMissionDetails
 Description   : Cette procédure retourne les détails d’un ordre de mission
                 (employé principal, équipe, véhicule, accompagnateurs, etc.)
                 pour un identifiant de mission donné.

 Paramètres    :
   @mission_id (INT) : Identifiant de la mission à consulter.

 Résultat      : Un ensemble de lignes contenant :
                 - Nom, fonction et affectation des employés
                 - Destination, motif du déplacement
                 - Moyens de transport
                 - Liste des accompagnateurs
                 - Dates et heures de départ/arrivée
                 - Date d’émission formatée au format 'dd/MM/yyyy'

 Remarques     :
   - Les champs null sont remplacés par des chaînes vides.
   - Le champ LE représente la date d’émission (GETDATE()).

 Historique des versions :
 -------------------------------------------------------------------------------
 | Version |   Date   |      Auteur      |           Commentaire              |
 |---------|----------|------------------|------------------------------------|
 |   1.0   | 08/05/25 | Hicham Lahssou   | Création initiale de la procédure  |
 |   1.1   | 09/05/25 | Hicham Lahssou   | Ajout du format de date 'dd/MM/yyyy' |
 |   1.2   | 10/05/25 | Hicham Lahssou   | Remplacement des NULLs par ''      |
 -------------------------------------------------------------------------------

===============================================================================
*/

CREATE PROCEDURE [dbo].[GetOrdreMissionDetails]
    @mission_id INT
AS
BEGIN
    WITH TeamEmployees AS (
        SELECT 
            e.id, 
            e.FirstName, 
            e.LastName, 
            ISNULL(f.name, '') AS Fonction, 
            ISNULL(a.name, '') AS Affectation
        FROM teams t
        JOIN employees e ON t.EmployeeId = e.id
        LEFT JOIN fonctions f ON e.FonctionId = f.id
        LEFT JOIN affectations a ON e.AffectationId = a.id
        WHERE t.MissionId = @mission_id
    ),
    MainEmployee AS (
        SELECT 
            e.id, 
            e.FirstName, 
            e.LastName, 
            ISNULL(f.name, '') AS Fonction, 
            ISNULL(a.name, '') AS Affectation
        FROM missions m
        JOIN employees e ON m.EmployerId = e.id
        LEFT JOIN fonctions f ON e.FonctionId = f.id
        LEFT JOIN affectations a ON e.AffectationId = a.id
        WHERE m.id = @mission_id
    ),
    AllMissionEmployees AS (
        SELECT * FROM TeamEmployees
        UNION
        SELECT * FROM MainEmployee
    )

    SELECT 
        FORMAT(GETDATE(), 'dd/MM/yyyy') AS LE,
        ISNULL(CONCAT(e.FirstName, ' ', e.LastName), '') AS NOM_PRENOM,
        ISNULL(e.Fonction, '') AS FONCTION,
        ISNULL(e.Affectation, '') AS AFFECTATION,
        ISNULL(m.VilleArrive, '') AS DESTINATION,
        ISNULL(m.Raison, '') AS MOTIF_DEPLACEMENT,
        ISNULL(CONCAT(v.Name, ': ', v.LicensePlateNumber), '') AS MOYEN_DE_TRANSPORT,
        ISNULL((
            SELECT STRING_AGG(CONCAT(e2.FirstName, ' ', e2.LastName), ', ')
            FROM AllMissionEmployees e2
            WHERE e2.id <> e.id
        ), '') AS ACCOMPAGNATEURS,
        FORMAT(m.DateDebut, 'dd/MM/yyyy') AS DATE_DEPART,
		FORMAT(m.DateDebut, 'HH:mm:ss') AS HEURE_DEPART, 
		FORMAT(m.DateFin, 'dd/MM/yyyy') AS DATE_ARRIVEE,
		FORMAT(m.DateFin, 'HH:mm:ss') AS HEURE_ARRIVEE
    FROM AllMissionEmployees e
    CROSS JOIN missions m
    LEFT JOIN vehicules v ON m.VehiculeId = v.id
    WHERE m.id = @mission_id;
END
GO
USE [master]
GO
