<mat-dialog-content>
  <h3>Éditer la mission</h3>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="data.data.name" placeholder="Entrez le nom">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.data.description" placeholder="Entrez le description">
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()">Enregistrer</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Annuler</button>
  </mat-dialog-actions>
</mat-dialog-content>